.bar {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
}

.bar.top {
  margin-bottom: 20px;
}

.bar.bottom {
  margin-top: 20px;
}

.bar a {
  background: #2a1633;
  color: #fff;

  padding: 10px;
  margin-right: 10px;

  text-decoration: none;
  border-radius: 5px;

  transition: all .2s;
}

.bar a:hover {
  background: #fff;
  color: #000;
}

@media screen and (max-width: 740px) {
  .bar {
    padding: 5px;
  }

  .bar a {
    margin-right: 5px;
  }
}
