body {
  background: #000;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px;
  border: 1px solid #333;
  border-radius: 4px;
  overflow: hidden;
  background: #111;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  ser-select: none;
}

li {
  padding: 20px;
  border-bottom: 1px solid #333;
  background: #000;
  /* transition: top .3s; */
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background: #3d0808;
  cursor: pointer;
}
